<?xml version="1.0"?>
<!--
/**
 * IDEALIAGroup srl
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to info@idealiagroup.com so we can send you a copy immediately.
 *
 * @category   MSP
 * @package    MSP_CashOnDelivery
 * @copyright  Copyright (c) 2014 IDEALIAGroup srl (http://www.idealiagroup.com)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <tabs>
		<magespecialist translate="label" module="msp_cashondelivery">
            <label>MageSpecialist.it</label>
            <sort_order>200</sort_order>
		</magespecialist>
    </tabs>
    <sections>
    	<sales>
    		<groups>
    			<totals_sort>
    				<fields>
    					<msp_cashondelivery translate="label">
                            <label>Cash On Delivery</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </msp_cashondelivery>
					</fields>
    			</totals_sort>
    		</groups>
    	</sales>
    	
    	<tax>
    		<groups>
                <classes>
                	<fields>
                        <msp_cashondelivery_taxclass translate="label">
                            <label>Tax Class for Cash On Delivery</label>
                            <frontend_type>select</frontend_type>
                            <source_model>msp_cashondelivery/adminhtml_system_config_source_taxclass</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </msp_cashondelivery_taxclass>
                    </fields>
                </classes>
                <calculation>
                	<fields>
                		<msp_cashondelivery_includes_tax translate="label">
                			<label>Cash On Delivery</label>
                            <comment>Whether Cash On delivery amounts entered by admin include tax.</comment>
                            <frontend_type>select</frontend_type>
                            <backend_model>tax/config_price_include</backend_model>
                            <source_model>tax/system_config_source_priceType</source_model>
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                		</msp_cashondelivery_includes_tax>
                	</fields>
                </calculation>
                <display>
                	<fields>
                		<msp_cashondelivery translate="label">
                            <label>Display Cash On Delivery Amount</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tax/system_config_source_tax_display_type</source_model>
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </msp_cashondelivery>
						<msp_cashondelivery_total translate="label">
                            <label>Display Cash On Delivery on Total Row</label>
                            <frontend_type>select</frontend_type>
                            <source_model>tax/system_config_source_priceType</source_model>
                            <sort_order>1000</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </msp_cashondelivery_total>
                	</fields>
                </display>
			</groups>
    	</tax>    	
    	
		<payment>
			<groups>
				<msp_cashondelivery translate="label">
					<label>Cash on delivery</label>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enable Cash on delivery</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</active>
						<title translate="label">
							<label>Title</label>
							<frontend_type>text</frontend_type>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                        </title>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
						<cod_description translate="label">
							<label>Description</label>
                            <frontend_type>textarea</frontend_type>
							<comment>Additional text displayed on the payment method selection</comment>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</cod_description>
						<order_status translate="label">
							<label>New order status</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_order_status_processing</source_model>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</order_status>
						<calc_including_shipping translate="label">
							<label>Calculate subtotal including shipping</label>
							<frontend_type>select</frontend_type>
							<sort_order>90</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</calc_including_shipping>
						<allowspecific translate="label">
							<label>Payment from applicable countries</label>
							<frontend_type>allowspecific</frontend_type>
							<sort_order>110</sort_order>
							<source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</allowspecific>
						<specificcountry translate="label">
							<label>Payment from Specific countries</label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>120</sort_order>
							<source_model>adminhtml/system_config_source_country</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</specificcountry>
                        <standard_fixed_fee_local translate="label">
                            <label>Standard local fixed fee</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </standard_fixed_fee_local>
                        <standard_fixed_fee_foreign translate="label">
                            <label>Standard foreign fixed fee</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </standard_fixed_fee_foreign>
                        <min_order_total translate="label">
                            <label>Minimum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </min_order_total>
                        <max_order_total translate="label">
                            <label>Maximum Order Total</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>160</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </max_order_total>	
                        <credits>
		                    <frontend_model>msp_common/adminhtml_system_config_fieldset_hint_credits</frontend_model>
		                    <sort_order>999</sort_order>
		                    <show_in_default>1</show_in_default>
		                    <show_in_website>1</show_in_website>
		                    <show_in_store>1</show_in_store>
		                </credits>
					</fields>
				</msp_cashondelivery>
			</groups>
		</payment>
		
    </sections>
</config>